*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* background-image: url("nature nav bar.webp"); */
    /* background-size: cover; */
    margin-top: 0%;
    margin-bottom: 20px;
    h1{
        justify-content: center;
        align-items: center; 
        color: #29625d;
        text-shadow:  0 0 10px #ffffff, 0 0 20px #b2fab4, 0 0 40px #81c784;
        font-weight: 800;
    }
    p{
        justify-content: center;
        align-items: center;
        color: #36215e;
        text-shadow:  0 0 10px #ffffff, 0 0 20px #b2fab4, 0 0 40px #81c784;
        font-weight: 700;
    }
}
.slideshow{
    div{
        height: 400px;
        width: 400px;
    } 
.img{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("nature gallary 1.jpeg");
    height: 800px;
    width:900px;
    background-size: cover;
    border-radius: 50%; 
    border: 2px solid transparent;
    opacity: 70%;
    div{
        margin-top:300px ;
        color:#b2fab4;
        font-weight: 900;
        opacity:80%;
    }
}
}
section{
.img:hover{
    border:2px solid #b2fab4;
    opacity:100% ;
    font-size: 30px;
    color:darkred
}
}
body{
     background-color: #536264;
     /* background-image:url("bg.jpg"); */
     background-image: url("nature nav bar.webp");
     background-size: cover;
}
.img2{
    margin: 400px;
     display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("nature gallary 2.jpeg");
    height: 400px;
    width:600px;
    background-size: cover;
    border-radius: 50%; 
    border: 2px solid transparent;
    opacity: 70%;
 div{
        display: flex;
        justify-content: center;
        align-items: center;
        color:#b2fab4;
        font-weight: 900;
        opacity:80%;
    }
}
.img2:hover{
    border:2px solid #b2fab4;
    opacity:100% ;
}
/* .bird {
 margin-top: 100px;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color:transparent ;
  background-image: url("bird.png");
  background-size: cover;
  border-radius: 50%;
  top: 50%;
  left: -50px;
  animation: fly 10s linear infinite;
}
@keyframes fly {
  0% {
    transform: translateX(0) rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translateX(50vw) rotate(15deg) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw) rotate(-15deg) scale(1);
    opacity: 0.8;
  }
} */